@import 'ngx-toastr/toastr';
body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/forest.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif; /* Puedes cambiar la fuente según tus preferencias */
}
